@model IEnumerable<BLL.Models.CategoryModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @* <a href="/Categories/Create">Create</a> *@
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* Name *@
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @* Description *@
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @* @item.Name *@
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                
            </td>
        </tr>
}
    </tbody>
</table>
