@model IEnumerable<CartItemModel>

@{
    ViewBag.Title = "Cart";
}

<h3>@ViewBag.Title</h3>

@if (Model is not null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductUnitPrice)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.ProductUnitPrice
                </td>
                <td>
                    <a asp-action="Remove" asp-route-productId="@item.ProductId">Remove</a>
                </td>
            </tr>
        }
    </table>
}